* {
    background-color: #f0dca9;
    color: brown;
    box-sizing: border-box;
    margin-inline: 10px;
}
h1 {
    color: yellow;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: green;
    text-align: center;
    padding: 10px;
    margin: 0;
}

h2 {
    color: rgb(255, 159, 62);
    background-color: brown;
    width: fit-content;
    padding: 5px;
    padding-inline: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

h3 {
    color:peru;
}

img {
    width: 500px;
    height: auto;
    align-content: center;
    margin: 30px;
    border: solid green 10px;
    border-radius: 10px;
}


